@use "./variables.scss" as *;

.App {
  display: flex;
  margin: auto;
  min-width: min(80%, 64rem);
  @media (max-width: 60rem) {
    flex-direction: column;
    #root {
    }
    .profile-container {
      width: 100%;
      margin-bottom: 1.5rem;
    }
    .profile-header {
      margin-top: 2rem;
      padding: 1.5rem;
      flex-direction: row;
      justify-content: space-between;
    }
    .text {
      display: flex;
      flex-direction: column;
    }
    .time-frame-section {
      flex-direction: row;
      margin: auto;
      width: 100%;
      margin-bottom: 2rem;
      justify-content: space-evenly;
    }
  }
}

.card-grid {
  display: grid;
  grid-gap: 1.75rem;
  grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));

  flex: 1 1 100%;
  @media (max-width: 60rem) {
    margin-bottom: 2rem;
    .time {
      margin-block: 0.5rem;
    }
  }
}

.profile-container {
  background-color: $dark-blue;
  border-radius: $border-radius;
  display: flex;
  flex-direction: column;
  margin-right: 1.5rem;
}

.attribution {
  display: none;
}
