@use "./variables.scss" as *;

$height: 3rem;
$margin: -0.75rem;

:root {
  font-size: 18px;
}
.card {
  color: white;
  display: flex;
  flex-direction: column;
  border-radius: $border-radius;
  z-index: 1;

  text-align: left;
}

.menu {
  display: flex;
  flex-direction: column;
  &:hover {
    svg path {
      fill: white;
    }
  }
}

.inner-card {
  background-color: $dark-blue;
  height: calc(100% - ($height + $margin));

  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: $border-radius;

  padding: 1.5rem;
  padding-bottom: 1rem;
}

.div {
  content: "";
  height: $height;

  margin-bottom: $margin;
  width: 100%;
  background-repeat: no-repeat;
  background-position-x: right 1rem;
  background-position-y: center;
  background-image: var(--url);
  background-color: var(--color);
  z-index: -1;
  border-radius: $border-radius $border-radius 0 0;
}

menu:hover {
  cursor: pointer;
  svg path {
    fill: white;
  }
}
.header-section {
  display: flex;
  justify-content: space-between;
}

.title {
  font-size: 1rem;

  font-weight: 500;
}

.time {
  font-size: 2.5rem;
  font-weight: 300;
}
.period {
  color: $pale-blue;
  font-size: 0.8rem;
}
.inner-card:hover {
  background-color: $desaturated-blue;
  cursor: pointer;
}

.attribution {
  display: none;
}

.work {
  --url: url("../../public/icons/icon-work.svg");
  --color: hsl(15, 100%, 70%);
}

.play {
  --url: url("../../public/icons/icon-play.svg");
  --color: hsl(195, 74%, 62%);
}
.exercise {
  --url: url("../../public/icons/icon-exercise.svg");
  --color: hsl(145, 58%, 55%);
}
.study {
  --color: hsl(348, 100%, 68%);
  --url: url("../../public/icons/icon-study.svg");
}
.social {
  --color: hsl(264, 64%, 52%);
  --url: url("../../public/icons/icon-social.svg");
}
.self-care {
  --url: url("../../public/icons/icon-self-care.svg");

  --color: hsl(43, 84%, 65%);
}
