@use "./variables.scss" as *;

:root {
  font-size: 18px;
  --url: url("../../public/favicon-32x32.png");
  --work: url("../../public/icons/icon-work.svg");
  --play: url("../../public/icons/icon-play.svg");
  --study: url("../../public/icons/icon-study.svg");
  --exercise: url("../../public/icons/icon-exercise.svg");
  --social: url("../../public/icons/icon-social.svg");
  --self-care: url("../../public/icons/icon-self-care.svg");

  --color: hsl(255, 100%, 100%);
  --cwork: hsl(15, 100%, 70%);
  --play-color: hsl(195, 74%, 62%);
  --study-color: hsl(348, 100%, 68%);
  --exercise-color: hsl(145, 58%, 55%);
  --social-color: hsl(264, 64%, 52%);
  --self-care-color: hsl(43, 84%, 65%);
}
.card {
  color: white;
  position: relative;
  border-radius: $border-radius;
  z-index: 1;
}

.inner-card::before {
  position: absolute;
  background-size: cover;
  height: 25%;
  width: 100%;
  content: "";
  background: no-repeat right;
  background-image: var(--url);
  background-color: var(--color);
  transform: translate(-50%, -75%);
  z-index: -1;
  border-radius: $border-radius $border-radius 0 0;
}

.no-card {
  display: none;
}

.work {
  --url: url("../../public/icons/icon-work.svg");
  --color: hsl(15, 100%, 70%);
}

.play {
  --url: url("../../public/icons/icon-play.svg");
  --color: hsl(195, 74%, 62%);
}
.exercise {
  --url: url("../../public/icons/icon-exercise.svg");
  --color: hsl(145, 58%, 55%);
}
.study {
  --color: hsl(348, 100%, 68%);
  --url: url("../../public/icons/icon-study.svg");
}
.social {
  --color: hsl(264, 64%, 52%);
  --url: url("../../public/icons/icon-social.svg");
}
.self-care {
  --url: url("../../public/icons/icon-self-care.svg");

  --color: hsl(43, 84%, 65%);
}
.header-section {
}

.title {
  font-size: 1.2rem;
  font-weight: 600;
}

.time {
  font-size: 2rem;
}
.period {
  color: $pale-blue;
}
.inner-card:hover {
  background-color: $desaturated-blue;
}
.inner-card {
  background-color: $dark-blue;
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: $border-radius;
}

.attribution {
  display: none;
}
