@use "./variables.scss" as *;

.avatar {
  width: 64px;
  border-radius: 50%;
  margin-bottom: 2rem;
  border: 2px solid white;
}

.profile-header {
  display: flex;
  padding: 1.5rem;

  flex-direction: column;

  padding-bottom: 4rem;
  border-radius: $border-radius;
  background-color: $blue;
  flex-grow: 1;
  flex-basis: 80%;
}

.profile-container {
  grid-column: 1/2;
  grid-row: 1/3;
  background-color: $dark-blue;
  border-radius: $border-radius;
}

header:first-of-type p {
  color: $pale-blue;
  font-weight: 300;
  font-size: 0.75rem;
}

h1 {
  width: 10ch;
  color: white;
  font-weight: 300;
}

.time-frame-section {
  display: flex;
  flex-direction: column;
  padding: 2rem 2rem;
  grid-gap: 1rem;
  justify-content: space-around;
  padding-bottom: 2.5rem;
  align-items: flex-start;
}

button {
  color: $pale-blue;
  background: none;
  border: none;
}

.button-active {
  color: white;
}

button:hover {
  color: white;
  cursor: pointer;
}
