@use "./variables.scss" as *;

.avatar {
  width: 82px;
  border-radius: 50%;
  margin-bottom: 2rem;
  border: 2px solid white;
}

.profile-header {
  display: flex;
  padding: 1.5rem;

  margin-bottom: 2rem;
  flex-direction: column;

  padding-bottom: 5rem;
  border-radius: $border-radius;
  background-color: $blue;
  flex: 1 1 100%;

  :nth-child(2) {
    margin-bottom: 0.33rem;
  }
}

header:first-of-type p {
  color: $pale-blue;
  font-weight: 300;
  font-size: 0.75rem;
}

h1 {
  width: 10ch;
  color: white;
  font-weight: 300;
}

.time-frame-section {
  display: flex;
  flex-direction: column;
  flex: 1 1 10%;
  grid-gap: 1rem;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 0 1.5rem;
  margin-bottom: 2rem;
  font-size: 0.85rem;
}

button {
  color: $pale-blue;
  background: none;
  border: none;
}

.button-active {
  color: white;
}

button:hover {
  color: white;
  cursor: pointer;
}
